button{
    display: inline-block;
    width: 20%;
    height: 11%;
    font-size: larger;
    margin: 3%;
}
div.container{
    width: 100%;
    height: 100%;
    border: 2px solid tan;
    text-align: center;
}
div.border{
    margin-left: 20%;
    width: 60%;
    height: auto;
    text-align: center;
    border: 2px solid orangered;
}
